<!DOCTYPE html>
<html>
	<%- partial('_partial/head') %>
	<body>
		<%- partial('_partial/sidebar') %>
		<div class="content-card">
			<%- body %>
		</div>
		<div class="left-lock"></div>
	</body>
</html>
