<div class="copyright">
	©2020
	<a href="https://github.com/rivers-guitar">rivers-guitar</a>
	Powered by
	<a href="https://hexo.io/">Hexo</a>
	|
	<a href="https://github.com/rivers-guitar/hexo-theme-drops">hexo-theme-drops</a>
</div>
