.copyright {
  width: 100%;
  font-size: 0.7em;
  color: #7a7a7a;
  text-align: center;
  margin-top: 36px;

  a {
    color: #368CCB;
    text-decoration: none;

    &:hover {
      cursor: pointer;
    }
  }
}
