.post {
  padding: 30px 50px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 0 2px #ddd;

  .post-title {
    font-size: 1em;

    .title {
      color: #999;
    }
  }

  .post-meta {
    color: #BABABA;
    margin: 8px 0 20px;

    span {
      margin-right: 16px;
    }
  }

  .post-content {
    font-size: 0.8em;
    line-height: 1.5;

    blockquote {
      border-left: 4px solid #368CCB;
      padding: 10px 20px;
      background: #F5F5F5;
    }

    figure {
      font-size: 1.06em;
      padding: 0 6px;
      background: #F5F5F5;
      overflow-x: auto;
      margin: 16px 0;

      .gutter pre {
        margin-right: 16px;
      }

      .code {
        pre {
          margin: 0.6em 0;
        }

        code {
          font-size: 1em;
          font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono';

          .hljs-comment, hljs-tag {
            font-size: 0.8em;
          }
        }
      }
    }

    h3 {
      font-size: 1em;
      margin: 16px 0;
    }

    h4 {
      margin: 16px 0;
    }

    ul {
      padding: 0 20px;
    }

    p {
      margin: 10px 0;

      code {
        font-size: 1.06em;
        font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono';
      }
    }

    a {
      color: #368CCB;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    img {
      width: 100%;
      margin: 16px 0;
    }
  }
}