.sidebar {
  width: 32%;
  height: 100vh;
  // display: flex;
  // align-items: baseline;
  // justify-content: space-between;
  background: url('./images/drops.jpg') 100% 100% no-repeat;

  .sidebar-header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ECF0F1;

    .blog-avatar img {
      width: 80px;
      height: 80px;
      border-radius: 100%;
      margin: 20px;
    }

    .blog-title {
      .title {
        color: #AAA;
        font-size: 2em;
        font-family: 'Comic Sans MS', cursive, LiSu, sans-serif;
        text-decoration: none;
      }

      .sub-title {
        display: block;
        color: #999;
        font-size: 1em;
        text-decoration: none;
      }
    }
  }

  .navbar {
    .menu {
      margin: 0;
      padding: 10px 16px;
      text-align: center;

      .menu-item {
        display: inline-block;
        margin-right: 20px;
      }

      .menu-item-link {
        color: #AAA;
        font-size: 0.86em;
        text-decoration: none;

        &:hover {
          color: #368CCB;
        }
      }
    }
  }
}
